<%= render 'shared/errors', obj: @article %>

<%= form_for @article, html: {role: 'form'} do |f| %>
  <div class="form-group">
    <label for="exampleInputEmail1"><%= f.label :title %></label>
    <%= f.text_field :title, class: "form-control", id: "_title" %>
    <p class="help-block">Entry the Title name for the article.</p>
  </div>

  <div class="form-group ">
    <label for="exampleInputEmail1"><%= f.label :description %></label>
    <%= f.text_area :description, class: "form-control", id: "_description" %>
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="inputError2Status" class="sr-only">(error)</span>
  </div>

  <%= f.submit class: "btn btn-default" %>
<% end %>
