<% content_for :title do %>Articles
<% end %>
<div class="page-header">
  <h1>Article list<br>
    <small>List of all articles created</small>
  </h1>
</div>

<div class="row">
  <% @articles.each do |a| %>
    <div class="col-xs-6 col-sm-4">
      <div class="well">
        <h3><%= link_to a.title, article_path(a) %></h3>
        <p>
          <%= a.description %>
        </p>
        <hr>
        <p>
          <%= link_to 'View', article_path(a), class: "btn btn-default" %>
          <%= link_to 'Edit', edit_article_path(a), class: "btn btn-default" %>
          <%= link_to 'Remove', article_path(a), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
        </p>
      </div>
    </div>
  <% end %>
</div>