<% content_for :title do %>Articles
<% end %>
<div class="page-header">
  <h1>Articles list<br>
    <small>List of all article created</small>
  </h1>
</div>


<!--navbar-->
<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to 'New Article', new_article_path, class: '' %>
  </li>
</ul>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @articles.each {|art|  %>
    <tr>
      <td><%= art.title %></td>
      <td><%= art.description %></td>
      <td>
        <%= link_to 'View', article_path(art), class: "btn btn-default" %>
        <%= link_to 'Edit', edit_article_path(art), class: "btn btn-default" %>
        <%= link_to 'Remove', article_path(art), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %></td>
    </tr>
  <% } %>
</table>