
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.firstname %> <%= @user.lastname %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center">
        <%= gravatar_for @user, size:150 %>
      </div>

      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
            <% @user.attributes.each do|key, value|  %>
              <tr>
                <td><%= key %> <%= @user.column_for_attribute(key).type %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <a href="#" class="btn btn-primary">My Sales Performance</a>
        <a href="#" class="btn btn-primary">Team Sales Performance</a>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
    <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
  </div>

</div>

<%= render 'articles/article', obj:@user.articles %>